.home-page {
  width: 100vw;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}

.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: transparent;
  border-width: 0px;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  background-color: grey;
  margin: 2px;
  color: white;
  font-weight: bold;
}
